.imagen404 {
    width: 400px;
}

.contenedor404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;    
    width: 100%;

}

.tit404 {
    color: #342222;
    font-size: 3rem;    
}

.subtit404 {
    color: #342222;
    font-style: italic;
}

.boton404 {
    padding: 15px 30px;
    border-radius: 0 20px;
    border: 5px solid #E9BC00 ;
    color: #342222;
    cursor: pointer;
}

@media screen and (max-width: 320px) {

    .imagen404 {
        width: 50%;        
    }

    .tit404 {
        font-size: 2rem;
    }

    .subtit404 {
        font-size: 1rem;
        text-align: center;
    }

    
}

@media screen and (max-width: 436px) {

    .imagen404 {
        width: 80%;        
    }

    .tit404 {
        font-size: 2rem;
    }

    .subtit404 {
        font-size: 1rem;
        text-align: center;
    }

    
}

@media screen and (max-width: 539px) {

    .imagen404 {
        width: 80%;        
    }

    .tit404 {
        font-size: 3rem;
        text-align: center;
    }

    .subtit404 {
        font-size: 1.4rem;
        text-align: center;
    }

    
}

@media screen and (max-width: 1024px) {

    .botonVolver {
        margin-bottom: 150px;
    }
}
