.presentacionIndex {
    width: 100%;    
    align-items: center;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .textoIndex {        
        max-width: 700px;
        .tituloI {
            font-size: 5em;  
            letter-spacing: 10px;
            color: $colorTexto;            
        }  
        .textoIndexPage {
            font-size: 2em;
            .linkIndex {
                font-weight: bold;
                color: $colorPrimero;
                text-decoration: none;
            }
        }
        .botonIndex {
            display: inline-block;
            text-decoration: none;
            color: $colorClaro2;
            font-size: 2em;
            background-color: $colorPrimero ;
            padding: 8px 20px;
            margin-top: 20px;
        }
        .botonIndex:hover {
            background: $colorSegundo;
            color: $colorTexto;
            transition: 0.4s;
            font-size: 2.2em;

        }

    }

}
.videoYt {
    width: 100%;
    display: flex;       
    justify-content: center;
    gap: 100px ;
    margin-bottom: 20px; 
    .iframe1 , .iframe2  {
        width: 560px;
        height: 315px;
    }
   
}




.card-group {
    margin: 20px 40px 30px;    
    gap: 60px;

    .card-body {
        background-color: $colorPrimero;
        opacity: 80%;
        .textoCartaIndex {
            font-size: 60px;
            text-align: center;
            color: $colorTexto;
           
        }
    }


    
}






@media screen and (max-width: 1260px) {
    .videoYt {        
        gap: 25px;
        .iframe1 {
            width: 470px ;
            height: 220px;
        }
        .iframe2 {
            width: 470px ;
            height: 220px;
        }

    }
    
}

@media screen and (max-width: 980px) {
    .videoYt {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-group {
        .card-body {
            .textoCartaIndex {
                font-size: 20px;
                font-weight: bold;
            }
        }

    }

}

@media screen and (max-width: 650px) {
    .presentacionIndex {
        .textoIndex { 
                         
            .tituloI {
                font-size: 40px; } 
                            
            }  
        }

        .videoYt {
              
            gap: 25px;
            .iframe1 {
                width: 275px ;
                height: 210px;
            }
            .iframe2 {
                width: 275px ;
                height: 210px;
            }
            .banner {
                height: 700px;
            }
       
    }
    .card-group {
        .card-body {
            .textoCartaIndex {
                font-size: 20px;
            }
        }

    }

}