/*  ESTILO REGISTRO */

.registroPage {
    max-width: 700px;
    width: 100%;
    padding: 45px 20px;
    margin: 0 auto;
    margin-top: 3rem;
    font-family: $fontPrincipal ;
    color: $colorTexto;
    text-align: center;   
    .tituloR {
        font-size: 5em;  
        letter-spacing: 10px;
    }
    .subtR {
        font-size: 2em;
        font-style: oblique;
    }
}     

.contenedorFormularioR{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;  
  margin-bottom: $marginBottom;
}
.formularioRegistro{
    width: 80%;
    background: rgba(217, 100, 62, 0.3);
    padding: 20px 60px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
}
.formularioRegistro .tituloFormReg{
  margin-top: 10px;
  font-size: 2rem;   
  color: $colorPrimero ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contenedorRegistro .formRegistro .datosUsuarioRegistro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.formRegistro .datosUsuarioRegistro .ingresoDatosR{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}


.formRegistro .ingresoDatosR .datosUser{
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: bolder;
  color: $colorTexto;  
}

.datosUsuarioRegistro .ingresoDatosR .inputRegistro{
    
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid $colorClaro ;
    font-size: 1.2em;
    transition: all 0.5s ease;
}
.datosUsuarioRegistro .ingresoDatosR .inputRegistro:focus {
    border-color: $colorPrimero;
} 
 

.botonR {
    text-align: center;
}

.botonRegistro {
    height: 45px;
    margin: 35px 0 ;
    background-color: #BBB3A8;     
    font-style: oblique;
    font-size: 20px;
    letter-spacing: 10px;
    border: none;
    margin-bottom: 40px;   
    
 }
 .botonRegistro:hover{
    cursor: pointer;
    background-color: #E9BC00 ;
    transition: 0.5s;
    color: black; }

.selectorGeneroR {
    align-items: center;
    width: 100%;
    
}    

.generoR {
    border: none; 
    font-size: 1.3em;  
    background-color: $colorClaro2;
    text-align: justify;
}


 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
.formRegistro .datosUsuarioRegistro .ingresoDatosR{
    margin-bottom: 15px;
    width: 100%;
  }

  .contenedorRegistro .formRegistro .datosUsuarioRegistro{
    max-height: 300px;
    overflow-y: scroll;
  }

  }
  @media(max-width: 459px){
  .formularioRegistro .contenedorRegistro {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
    .registroPage{

        .tituloR {
            font-size: 50px;  
            
        }
        .subtR {
            font-size: 30px;
            font-style: oblique;} 
        }
    }