$colorPrimero: #D9643E ;
$colorSegundo: #E9BC00 ;
$colorTexto: #342222 ;
$colorClaro: #F4EEE2 ; 
$colorClaro2: #EFE0A0 ;


//margenes//

$marginBottom: 2em ;


//fuente//

$fontPrincipal: 'Teko', sans-serif; 